---
const { link, text } = Astro.props
---

<a
  href={link}
  data-aos='fade-up'
  class='block w-fit cursor-pointer text-accent text-lg uppercase px-10 py-2 border-2 border-accent rounded-lg hover:scale-110 transition-all duration-300'
>
  {text}
</a>
