---
const { image } = Astro.props
---

<!-- TODO: Fix background image shift on mobile -->
<section 
  class={`min-h-lvh bg-fixed bg-cover bg-top lg:bg-[center_top_-200px] relative before:absolute before:size-full before:bg-black/50`}
  style={`background-image: url(${image})`}
>
  <slot />
</section>
