---
const { image } = Astro.props
---

<!-- TODO: Fix background image shift on mobile -->
<section
  class={`h-lvh bg-fixed bg-center lg:[background-position-y:-200px] bg-cover relative`}
  style={`background-image: url(${image})`}
>
  <slot />
</section>
