---
import SimpleParallax from '@/components/SimpleParallax.astro'

const { image, title, code } = Astro.props
---

<SimpleParallax image={image}>
  <div class='px-8 py-20 flex flex-col justify-center items-center gap-10'>
    <h2 data-aos='fade-up' class='font-dancing text-5xl text-accent'>
      {title}
    </h2>
    <p class='text-lg uppercase'>{code}</p>
    <div class='w-full max-w-sm px-6 py-4 border-2 border-accent/50 rounded'>
      <p class='uppercase'>- No niños -</p>
    </div>
  </div>
</SimpleParallax>
