---
const { image } = Astro.props

let { url, x, y, sm, md, lg, xl } = image
---

<div class='relative min-h-svh grid place-items-center overflow-hidden'>
  <div class="absolute top-0 left-0 -z-20 after:absolute after:top-0 after:left-0 after:size-full after:bg-black/50 after:z-0">
    <img
      src={url}
      class='parallax'
      alt='Fernanda XV - Photo'
      loading="lazy"
    />
  </div>
  <slot />
</div>

<style define:vars={{ x, y, sm, md, lg, xl }}>
  .parallax {
    --position-x: var(--x);
    --position-y: var(--y);

    width: 100svw;
    height: 100svh;
    object-fit: cover;
    transition: all 0.5s linear;

    object-position: var(--position-x) var(--position-y);

    @media (width >= 768px) {
      --position-y: var(--sm);
    }

    @media (width >= 800px) {
      --position-y: var(--md);
    }

    @media (width >= 1024px) {
      --position-y: var(--md);
    }

    @media (width >= 1280px) {
      --position-y: var(--lg);
    }

    @media (width >= 1920px) {
      --position-y: var(--xl);
    }
  }
</style>
