---
import ParallaxImage from './ParallaxImage.astro'

const { message, groups, image } = Astro.props
---

<ParallaxImage image={image}>
  <div class='absolute size-full bg-black/60 px-8 flex flex-col justify-center items-center gap-24 font-quicksand text-center'>
    <p>{message}</p>
    {
      groups.map(({ title, persons }) => (
        <div class='space-y-4'>
          <h4 class='font-dancing text-4xl text-accent mb-8'>{title}</h4>
          {persons.map((person) => (
            <p>{person}</p>
          ))}
        </div>
      ))
    }
  </div>
</ParallaxImage>
