:root {
  --swiper-navigation-size: 20px;
  --swiper-navigation-color: theme('colors.white');
  --swiper-pagination-color: theme('colors.accent');
  --swiper-pagination-bullet-inactive-color: theme('colors.accent');
  --swiper-pagination-bullet-inactive-opacity: 0.3;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bottom: -60px;

  @media(width >= 768px) {
    --swiper-pagination-bottom: -40px;
  }
}

.swiper {
  overflow: visible;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  text-shadow:
    5px 0 5px theme('colors.background'),
    -5px 0 5px theme('colors.background'),
    0 5px 5px theme('colors.background'),
    0 -5px 5px theme('colors.background');
}
